  {% assign categories = site[page.collection] | where: "show", true | map: "categories" | uniq %}

  <div class="form-group">
    <label for="categorySelect">Categories</label>
    <div class="form-control btnCheckbox border-0" id="categorySelect">
      {% for category in categories %}
        <label class="btn btn-outline-primary m-1">
          <input type="checkbox" style="display:none;" name="{{category}}">
          <span class="form-check-label">{{category | capitalize}}</span>
        </label>
      {% endfor %}
    </div>
  </div>

<script>
  var categoryFilter = [],
      tagFilter = [];

  $("#categorySelect").find("input").click(function() {
      if(this.checked) {
        categoryFilter = [this.name];
        $("#categorySelect").find('label').removeClass('btn-primary').addClass('btn-outline-primary');
        $("#categorySelect").find("input").prop( "checked", false )
        $(this).closest('label').addClass('btn-primary').removeClass('btn-outline-primary');
        $(this).prop( "checked", true )
      } else {
        _.pull(categoryFilter, this.name);
        $(this).closest('label').removeClass('btn-primary').addClass('btn-outline-primary');
      }
  });

  $("#categorySelect, #tagSelect").find("input").change(function(){
    updateConditionalDisplay();
  });

  function updateConditionalDisplay(){
    $(".card").parent().hide();
    $(".card").filter(function(){return attrArrayFilter($(this),"categories", categoryFilter)})
              .parent().show();
    $("[data-masonry]").masonry();
  }

  function attrArrayFilter(obj, attr, array){
  let bool=0;
  if (typeof($(obj).attr(attr))!='undefined'){
    attrArray = $(obj).attr(attr).split(',');
    _.forEach(attrArray, function(value){
      if( _.includes(array,value)){
        bool+=1;
      };
    });
    return bool === array.length;
  } else {
    return 0;
  }
}

</script>
