	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{% if page.meta_title %}{{ page.meta_title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<link rel="stylesheet" type="text/css" href="{{'/assets/css/main.css' | relative_url}}" />
	<!-- <link rel="stylesheet" type="text/css" href="/assets/fonts/iconfont.css"> -->
	<script src="{{'/assets/js/jquery.min.js' | relative_url}}"></script>
	<script src="{{'/assets/js/popper.js' | relative_url}}"></script>
  <script src="{{'/assets/js/bootstrap.min.js' | relative_url}}"></script>

	<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
	<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
	
	{% include _favicon.html %}

	<!-- Search Engine Optimization -->
	{% if page.noindex == true %}<meta name="robots" content="noindex" />{% endif %}

	<link type="text/plain" rel="author" href="/humans.txt" />
