  <div class="card col-4 me-2 p-0 bg-light">
  <img src="{{site.imageurl}}{{page.photo}}" class="card-img-top" alt="{{page.photo}}">
  <div class="card-body">
    {% for item in site.data.metadata %}
      {% unless page[item.id] or item.list %}
        {% continue %}
      {% endunless %}
      {% if item.style == "inlinelist"%}
        <h5>{{item.text}}</h5>
        <p><strong>
        {% assign listItems = page.[item.id] | split: "," %}
        {% for listItem in listItems %}
          {% if item.link %}
          {% capture link %}{{item.link}}/{{listItem | slugify}}{% endcapture %}
          <a class="text-black" href="{% include _exists.html link=link%}">{{listItem}}{% unless forloop.last %},{% endunless %}</a>
          {% else %}
          {{listItem}}{% unless forloop.last %},{% endunless %}
          {% endif %}
        {% endfor %}
        </strong></p>
      {% elsif item.list %}
        <ul class="list-unstyled" style:="padding-left: 1rem">
          {% for listItem in item.list %}
            {% unless page[listItem.id] %}
              {% continue %}
            {% endunless %}
            <li>{{listItem.text}}<strong>{{page[listItem.id]}}{% if listItem.style == "time" %} hour{%unless page[listItem.id] == 1 %}s{% endunless %} {% endif%}</strong></li>
          {% endfor %}
        </ul>
      {% elsif item.text %}
        {% if item.link %}
          <!-- check if exists -->
          {% capture link %}{{item.link}}/{{page[item.id] | slugify}}{% endcapture %}
          <{{item.tag | default: "p"}} class="">{{item.text}}<a class="{{item.class | default: 'fw-bold'}} text-black" href="{% include _exists.html link=link%}">{{page[item.id]}}</a></{{item.tag | default: "p"}}>
        {% else %}
          <{{item.tag | default: "p"}} class="">{{item.text}}<span class="{{item.class | default: 'fw-bold'}}">{{page[item.id]}}</span></{{item.tag | default: "p"}}>
        {% endif %}
      {% else %}
        <{{item.tag | default: "p"}} class="{{item.class}}">{{page[item.id]}}</{{item.tag | default: "p"}}>
      {% endif %}
    {%endfor%}
  </div>
</div>
