---
# Only the main Sass file needs front matter, rest is included from site.sass.sass_dir
sitemap:
  exclude: true
---
@import "bootstrap/_functions";
@import "bootstrap/_mixins";
@import "bootstrap/_variables";

//
//
// // $min-contrast-ratio:  170;
// @import "bootstrap/_variables";
//
$custom-colors: (
  "primary": #B7A47E,
  "footer": #495057,
  "fab_green":#02968e,
  "fab_orange":#ff9700,
  "fab_pink":#f7004d
);
$theme-colors: map-merge($theme-colors, $custom-colors);


$text-muted: $gray-500;

$link-color: $gray-700;
$link-hover-color: darken($link-color, 15%);
$link-decoration: underline   dotted;

$nav-link-padding-y: 1rem;
$navbar-padding-y:  0;
$navbar-light-color:                $gray-600;
$navbar-light-hover-color:          $gray-700;
$navbar-light-active-color:         $gray-900;

$dropdown-spacer: 0;
$dropdown-border-width: 0;
$dropdown-border-radius: 0;
$dropdown-padding-y: 0;
$dropdown-item-padding-y: 0.5rem;
$dropdown-link-color:               $gray-600;
$dropdown-link-hover-color:         $gray-700;
$dropdown-link-hover-bg:            $gray-200;

$nav-pills-link-inactive-bg:          $gray-100;

.nav-pills {
  .nav-link {
    @include border-radius($nav-pills-border-radius);
  }
}
//

@import "bootstrap";

h5 {
  font-size: 16px;
  font-weight: 400;
}
