---
layout: default
---
<div class="row my-3">
  <div class="col">
    <h2>{{page.collection | capitalize}}</h2>
  </div>
  <div class="col-auto">
    {% if page.filters %}
      {% include _filters.html %}
    {% endif %}
  </div>
</div>

<div class="row my-3">

  <!-- {% include _sidebar.html %} -->

  <div class="col">

    {% assign collection = site[page.collection] | reverse | where: "show", true  %}
    <div class="row row-cols-4 card-group" data-masonry='{"percentPosition": true }'>
    {% for item in collection %}
      <div class="col my-1">
        <div class="card" categories="{{item.categories}}">
          <img src="{{site.imageurl}}{{item.photo}}" class="card-img-top" alt="{{item.photo}}">
          <div class="card-body">
            <a class="card-title stretched-link" href="{{ item.url | relative_url }}">{{item.title}}</a>
            <!-- <p class="card-text"><small class="text-muted">{{item.author}}</small></p> -->
          </div>
          <div class="card-footer">
            <p class="card-text text-muted mb-0">{{item.author}}</p>
            <p class="card-text text-muted small">{{item.date | date: "%b %d, %Y"}}</p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>

  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    var $container = $("[data-masonry]");

    $container.imagesLoaded(function () {
      $container.masonry();
    });
  });
</script>
